* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(15deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

html {
    scroll-behavior: smooth;
    font-size: 12px;
}

.main_body {
    flex-grow: 1;
}

/* navbar start */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    top: 0;
    justify-content: space-around;
    border: none;
}

#navbar::before {
    content: '';
    background: url(../images/header.jpg) no-repeat center center/cover;
    /* background-color: black; */
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.89;
}

#navbar ul {
    display: flex;
    align-items: center;
}

#navbar ul li {
    list-style: none;
}

.ancher-style {
    /* position: relative; */
    display: block;
    /* height: 50px; */
    color: #ffffff;
    font-weight: 500;
    /* text-transform: uppercase; */
    line-height: 50px;
    padding: 0 15px;
    margin: 0;
    letter-spacing: 0.5px;
    text-decoration: none;
    font-size: 1.7rem;
}

#navbar ul li a {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#navbar ul li:hover>a {
    color: black;
    background-color: white;
    border-radius: 10px;
}

.carret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    vertical-align: middle;
}

#navbar ul li.sub-menu:hover .carret {
    border-top-color: black;
}

#navbar>ul>li.sub-menu>ul {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    z-index: 99999;
    background-color: rgb(0 50 142);
    border-radius: 10px;
    position: absolute;
    padding: 2px;
    top: auto;
    left: auto;
    transition: 0.3s ease-in-out;
}

#navbar ul li.sub-menu>ul li {
    list-style: none;
}

.active_hover{
    visibility: visible;
    opacity: 1;
}

#navbar ul li.sub-menu ul#dropdown li.mech-drop ul{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    z-index: 99999;
    background: deeppink;
    border-radius: 10px;
    position: absolute;
    padding: 2px;
    top: 5px;
    left: 152px;
    width: 103px;
    transition: 0.3s ease-in-out;
}
.active_hover{
    visibility: visible;
    opacity: 1;
    background-color: red;
}
#navbar ul li.sub-menu ul#dropdown li.mech-drop ul li a{
    font-weight: 600;
    color: black;
}
#navbar ul li.sub-menu:hover>ul#dropdown {
    visibility: visible;
    opacity: 1;
}

#navbar ul li.sub-menu ul#dropdown li.mech-drop:hover>ul{
    visibility: visible;
    opacity: 1;
}

.active{
    background: white;
    color: black;
}
/* navbar ended */
footer {
    display: none;
    position: static;
    width: 100%;
    /* margin-bottom: 5px; */
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(15deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}

@media only screen and (max-width: 409px) {
    #navbar ul {
        flex-direction: column;
    }
    #navbar>ul>li.sub-menu>ul li a{
        font-size: 1.5rem;
    }
    #navbar ul li.sub-menu ul#dropdown li.mech-drop ul{
        left: 20px;
        top: auto;
    }
    
}
